body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;

}




.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
}
/*  */

.header-inner {
    display: flex;
    justify-content: space-between;
    padding-top: 51px;
}

.header-logo {
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.nav {
    font-size: 14px;
    
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    line-height: 30px;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 18px;
    margin-right: 24px;

    transition: color .2s linear;
}
/*  */

.nav-link:hover {
    color: #C7B299;
}